[Unit]
Description=Growlab
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=600
StartLimitInterval=0
EnvironmentFile=/etc/default/growlab
ExecStart=/bin/bash /home/pi/growlab/app/sample.sh

[Install]
WantedBy=multi-user.target